
.container{
    display: flex;
    flex-direction: row;
    margin: 2rem;
}
h4{
    margin: 0;
    text-decoration: underline;
}
section{
    background-color: rgb(230,230,230);
    padding: 0.5rem;
    border-top: 1px solid grey;
}
li{
    text-align: left;
}
.data{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}


/* ====== Styling for fake check boxes ====== */
/* ========================================== */
.filter-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* ========================================== */
.fake-input{
    margin: 5px;;
    padding: 0;
    height: 10px;
    width: 10px;
    border: 2px solid rgb(70, 155, 84);
    background-color: rgb(219, 245, 212);
    border-radius: 5px 2px
}
.fake-input:hover{
    border: 2px solid rgb(5, 119, 75);
}
.fake-input:active{
    background-color: rgb(139, 248, 15);
    box-shadow: 0 0 10px 3px rgb(139, 248, 15);
}
.fake-checked{
    background-color: rgb(37, 196, 31);
}
